$minimum-heigth:100vh;
// $mycolor:#000;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  min-height: $minimum-heigth;
  width: 100%;
  // background-image:linear-gradient(to bottom right,black,grey) ;
  // background-color:$mycolor;
  background-color: black;
}

